.divider {
	margin-top: 40px;
	}
	
.button {
	/* appearance */
	background-color: #3f3f3f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.1) 50%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(100%,rgba(255,255,255,0.0)),
		color-stop(50%,rgba(255,255,255,0.1)));
	border: 1px solid #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	-moz-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	cursor: pointer;
	
	/* position */
	display: inline-block;
	margin: 10px;
	
	/* size */
	padding: 0 10px;
	
	/* text */
	color: #eaeaea;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	white-space: nowrap;
	}
.button:hover {
	/* appearance */
	background-color: #6495ed;
	-webkit-box-shadow: 0 0 3px #6495ed;
	-moz-box-shadow: 0 0 3px #6495ed;
	box-shadow: 0 0 3px #6495ed;
	}

.myTableWrapper {
	width: 800px;
	height: 500px;
	}

.height250 {
        height: 250px;
        overflow-x: auto;
        overflow-y: auto;
}

.height400 {
        height: 370px;
/*        overflow-x: auto;
        overflow-y: auto;*/
		clear:both;
		margin:0px 3px;
		position:relative;
		padding:5px 0 0 0;

}


.height500 {
        height: 700px;
/*        overflow-x: auto;
        overflow-y: auto;*/
		clear:both;
		margin:0px 3px;
		position:relative;
		padding:5px 0 0 0;
		text-align:left !important;

}

.height500 td { font-size:12px !important; padding:8px 5px !important; }
.fancyTable th {
	/* appearance */
	border: 1px solid #5d81c8;
	
	/* size */
	padding: 5px;
	vertical-align:middle !important;

	}
	
	.fancyTable td {
	/* appearance */
	border: 1px solid #a6cf45;
	
	/* size */
	padding: 5px;
	font-size:11px !important;
	}
.fancyTable tbody tr:hover td {
	background: #f9f8e6;
	cursor:pointer;
}
.fancyTable {
	/* text */
/*	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyTable tbody tr td {
	/* appearance */
	background-color: #FFF ;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #262c31;
	font-size: 11px;
	margin-top:0px;
	}

.fancyTable tbody tr.odd td {
	/* appearance */
	background-color: #ecffbf;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable thead tr th,
.fancyTable thead tr td
{
	/* appearance */
/*	background-color: #2b519c;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));*/

background: #223c7a; /* Old browsers */
background: -moz-linear-gradient(top,  #223c7a 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#223c7a), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #223c7a 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #223c7a 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #223c7a 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #223c7a 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223c7a', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
		
		
	/* text */
	color: #FFF ;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 1px #000    ;
	}
.fancyTable tfoot tr th, 
.fancyTable tfoot tr td {
	/* appearance */
	background:#2c539d;
	font-size: 11px !important ;
	color: #FFF;
	font-weight: bold;
	padding:5px !important;
	}
	

/* Fancy Dark Table */	
.fancyDarkTable .numeric {
	/* text */
	text-align: right;
	}

.fancyDarkTable td, .fancyDarkTable th {
	border: 1px solid #000000;
	padding: 5px;
}

.fancyDarkTable thead tr th {
	padding: 10px 5px 10px 5px;
	}

.fancyDarkTable {
	/*border-collapse: separate;*/
	
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyDarkTable tbody tr td {
	/* appearance */
	background-color: #48535e;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-bottom-color: #22272e;
	border-top-color: #708090;
	border-right-color: #000;
	border-left-color: #3c454f;

	/* size */
	padding: 10px 5px 30px 5px;

	/* text */
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	}

.fancyDarkTable tbody tr.odd td {
	/* appearance */
	background-color: #3c454f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-right-color: #000;
	}

.fancyDarkTable thead tr th,
.fancyDarkTable tfoot tr td {
	/* appearance */
	background-color: #0b0d10;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	}
	
.fancyDarkTable .fht-head {
	-webkit-box-shadow: 0 5px 10px #000;
	z-index: 1;
	position: relative;
	}
	

.fancyTable_inner th {
	/* appearance */
	border: 1px solid #5d81c8;
	
	/* size */
	padding: 8px 5px;
	vertical-align:middle !important;

	}
	
.fancyTable_inner td {
	/* appearance */
	border: 1px solid #a6cf45;
	
	/* size */
	padding: 8px 5px ;
	font-size:12px !important;
	vertical-align:middle;
	}
.fancyTable_inner tr:hover td {
	background: #f9f8e6;
	cursor:pointer;
}
.fancyTable_inner {
	/* text */
/*	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyTable tbody tr td {
	/* appearance */
	background-color: #FFF ;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #262c31;
	font-size: 12px;
	margin-top:0px;
		border-collapse:collapse;

	}

.fancyTable_inner tbody tr.odd td {
	/* appearance */
	background-color: #ecffbf;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable_inner thead tr th,
.fancyTable_inner thead tr td,
.fancyTable_inner tfoot tr th, 
.fancyTable_inner tfoot tr td {
	/* appearance */
	background-color: #2b519c;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #FFF ;
	font-size: 12px;
	font-weight: bold;
	}
		